# Your root domain (used to access the dashboard at traefik.yourdomain.com)
DOMAIN=yourdomain.com

# Basic Auth for Traefik Dashboard (Generate using: htpasswd -nb user password)
# The example below is for: admin / password
TRAEFIK_DASHBOARD_AUTH=admin:$apr1$H6uskkkW$IgXLP6ewTrSuBkTrqE8wj/
